server:
  port: 7012
  servlet:
    contextPath: /playandgo

spring:
  application:
    name: play&go-engine
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URL:}
      auto-index-creation: true
  http:
    multipart:
      enabled: true
      max-file-size: ${SPRING_HTTP_MULTIPART_MAX_FILE_SIZE:10MB}
      max-request-size: ${SPRING_HTTP_MULTIPART_MAX_REQUEST_SIZE:10MB}
  main:
    allow-bean-definition-overriding: true      
  servlet:
    multipart:
      max-file-size: ${SPRING_HTTP_MULTIPART_MAX_FILE_SIZE:10MB}
      max-request-size: ${SPRING_HTTP_MULTIPART_MAX_REQUEST_SIZE:10MB}
  security:
    oauth2:
      client:
        registration:
          oauthprovider: 
            authorization-grant-type: client_credentials
            client-id:  ${AAC_CLIENT_ID:}
            client-secret:  ${AAC_CLIENT_SECRET:}
        provider:
          oauthprovider:
            token-uri: ${AAC_TOKEN_URI:}
            issuer-uri: ${AAC_ISSUER_URI:}
            authorization-uri: ${AAC_AUTHORIZATION_URI:}
      resourceserver:
        jwt:
          issuer-uri: ${AAC_ISSUER_URI:}
          client-id: ${AAC_CLIENT_ID:}
        opaque-token:
          introspection-uri: 
          client-id: 
          client-secret:         
  rabbitmq:
    host: ${RABBITMQ_PG_HOST:}
    port: ${RABBITMQ_PG_PORT:}
    password: ${RABBITMQ_PG_PASSWORD:}
    username: ${RABBITMQ_PG_USER:}
    virtual-host: ${RABBITMQ_PG_VIRTUALHOST:}
    listener:
      simple:
        prefetch: 1
  zipkin:
    base-url: ${ZIPKIN_ENDPOINT:}
    enabled: ${ZIPKIN_ENABLED:}

springdoc:
  packagesToScan: it.smartcommunitylab.playandgo.engine.controller
  pathsToMatch: /api/** 
  
mail:
  host: ${MAIL_HOST:}
  port: ${MAIL_PORT:}
  user: ${MAIL_USER:}
  password: ${MAIL_PASSWORD:}
  from: ${MAIL_FROM:}
  url: ${MAIL_URL:}
  protocol: ${MAIL_PROTOCOL:}
  localhost: ${MAIL_LOCALHOST:}

gamification:
  url: ${GAMIFICATION_URL:}
  secretKey: ${GAMIFICATION_SECRETKEY:}
  user: ${GAMIFICATION_USER:}
  password: ${GAMIFICATION_PASSWORD:}
  secretKey1: ${GAMIFICATION_SK1:}
  secretKey2: ${GAMIFICATION_SK2:}
  cron: ${GAMIFICATION_CRON:}

rabbitmq_ge:
  geExchangeName: ${RABBITMQ_GE_EXCHANGE_NAME:}
  geRoutingKeyPrefix: ${RABBITMQ_GE_ROUTING_KEY_PREFIX:}

validation:
  shapefolder: ${VALIDATION_SHAPE:}

notificationDir: ${NOTIFICATION_DIR:}

challengeDir: ${CHALLENGE_DIR:}

playgoURL: ${PLAYGO_URL:}

gcm:
  gcmSenderApiKey: ${GCM_SENDER_API_KEY:}
  gcmSenderId: ${GCM_SENDER_ID:}  
  
minio:
  endpoint: ${MINIO_ENDPOINT:}
  accessKey: ${MINIO_ACCESS_KEY:}
  secretKey: ${MINIO_SECRET_KEY:}
  bucket: ${MINIO_BUCKET:}
  
aziende:
  endpoint: ${AZIENDE_ENDPOINT:}
  user: ${AZIENDE_USER:}
  password: ${AZIENDE_PASSWORD:}

hsc:
  endpoint: ${HSC_ENDPOINT:}
  
aac:
  admin-client-id: ${AAC_ADMIN_CLIENT_ID:}
  admin-client-secret: ${AAC_ADMIN_CLIENT_SECRET:}
  admin-realm: ${AAC_ADMIN_REALM:}
 